@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #1f2224;
  font-size: 16px;
  scroll-behavior: smooth;
}

header:not(.header-scrolled) {
  background-color: transparent;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.padding-left {
  padding-left: calc((100vw - 1280px) / 2) !important;
}

.accordion-text {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
}
.accordion-active > .accordion-text {
  max-height: fit-content;
  overflow: visible;
  opacity: 1;
}

.accordion-button {
  column-gap: 12px;
}

.accordion-button-icon {
  transition: all 0.25s ease;
  flex-shrink: 0;
}

.accordion-active .accordion-button-icon {
  rotate: 90deg;
}

.header-scrolled {
  background-color: rgb(23, 25, 26) !important;
}

.swiper-ganhos .swiper-slide,
.swiper-indicadores .swiper-slide,
.swiper-estrategias .swiper-slide {
  transition-property: -webkit-filter, transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.swiper-estrategias .swiper-slide img {
  margin: 0 auto;
}

.mobile-tabs button {
  flex-shrink: 0;
}

.swiper-ganhos .swiper-slide:not(.swiper-slide-active),
.swiper-indicadores .swiper-slide:not(.swiper-slide-active),
.swiper-estrategias .swiper-slide:not(.swiper-slide-active) {
  transform: scale(0.8);

  @media screen and (max-width: 1020px) {
    transform: scale(0.9);
  }
}

.privacy p,
.terms p:not(.terms-title) {
  margin-bottom: 10px;
}

.privacy ul,
.terms ul {
  margin: 12px 0 10px 10px;
  padding-left: 12px;
  list-style: disc;
}

.privacy ul li,
.terms ul li {
  margin-top: 10px;
}

.privacy a,
.terms a {
  color: #008bdb;
}

.privacy-subtitle {
  font-weight: 700;
  margin: 24px 0 10px;
}

.privacy table {
  border-collapse: collapse;
}

.privacy td {
  border: 0px solid transparent;
  background-clip: padding-box;
}

.privacy tr > td + td {
  border-left-width: 20px;
}

.terms-title {
  margin: 36px 0 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.terms-title {
  margin: 36px 0 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.terms-ordered {
  text-indent: 16px;
}
