.st-terms__container {
  max-width: 940px;
  padding: 64px;
  margin: 0 auto;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  text-align: justify;

  @media only screen and (max-width: 576px) {
    max-width: 640px;
    padding: 32px;
  }
}

.st-terms__container p:not(.st-terms__paragraph--title) {
  margin-bottom: 10px;
}

.st-terms__container a {
  color: #008bdb;
}

.st-terms__container ul {
  margin: 12px 0 10px;
  padding-left: 12px;
  list-style: disc;
}

.st-terms__container ul li {
  margin-top: 10px;
}

.st-terms__logo {
  margin-bottom: 64px;

  @media only screen and (max-width: 576px) {
    margin-bottom: 32px;
  }
}

.st-terms__title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}

.st-terms__subtitle {
  text-align: center;
  margin-bottom: 48px;
  font-weight: 700;
}

.st-terms__paragraph--title {
  margin: 36px 0 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.st-terms__paragraph--ordered {
  text-indent: 16px;
}

.st-terms__company {
  text-align: center;
}

.st-terms__company span:first-child {
  display: inline-block;
  margin-bottom: 8px;
}
